@import "tailwindcss";
body {
    background-color: #F9F6F0;
    /* ya jo bhi tumhara site ka primary color hai */
}


@keyframes heroFadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-animation {
    animation: heroFadeUp 0.8s ease-out;
}

.hero-delay {
    animation: heroFadeUp 0.8s ease-out 0.2s both;
}

.hero-search-animation {
    animation: heroFadeUp 0.8s ease-out 0.4s both;
}

.perspective-1000 {
    perspective: 1000px;
}

.transform-style-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}